body {
    background-color: rgb(49, 49, 49);
}

h1 {
    font-family: Fredoka;
    color: white;
    display: flex;
    justify-content: center;
}

input { 
    background-color: grey;
    color: white;
    font-family: Fredoka;
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    border-style: solid;
    border-color: darkgray;
    text-align: center;
    text-transform: lowercase;
    -webkit-user-select: text;
    user-select: text;
    border-radius: 0;
    /* -webkit-appearance: none; */
}

#gameBoard div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 800px) {
    input { 
        font-size: 6vw;
        width: 10vw;
        height: calc(100vw * .15);
        }
}