body {
    background-color: rgb(49, 49, 49);
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    font-size: 5vw;
}

.hidden {
    display: none;
}

#popup {
    position: absolute;
    width: 60vw;
    height: 40vh;
    left: 20vw;
    top: 20vh;
    border-radius: 10px;
    border-style: solid;
    border-color: darkgray;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
}

#popup #popupHead { 
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#popup .reset { 
    display: absolute;
    width: 50%;
    bottom: 5vh;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: x-large
}

input { 
    background-color: grey;
    color: white;
    font-family: 'Roboto', sans-serif;
    border-style: solid;
    border-color: darkgray;
    text-align: center;
    text-transform: lowercase;
    -webkit-user-select: text;
    user-select: text;
    border-radius: 0;
    font-size: 6vw;
    width: 10vw;
    height: calc(100vw * .10);
    /* -webkit-appearance: none; */
}

#gameBoard {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

#keyBoard {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 5vh;
    margin-left: 2vw;
    margin-right: 2vw;
}

.keyBoardRows {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
}

#secondRow {
    margin-left: 5vw;
    margin-right: 5vw;
}

.key {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    line-height: calc(.095*100vw);
    font-size: 6vw;
    background-color: #E0E0E4;
    width: 8vw;
    height: calc(.1*100vw);
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

#back, #enter {
    width: 10vw;
}

/*Hopefully make my game board visible for people on iOS*/
input:disabled {
    color: white;
    -webkit-color: white;
    -webkit-text-fill-color: white;
    opacity: 1;
}

#gameBoard div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media only screen and (min-width:50rem) {
    h1 {
        font-size: 3vw;
    }
    #popup {
        width: 30rem;
        height: 30rem;
        left: calc((100vw - 30rem)/2);        
    }
    input { 
        font-size: 4rem;
        width: 5rem;
        height: 5rem;
    }
    .keyBoardRows {
        margin-left: 13vw;
        margin-right: 13vw;
    }

    #secondRow {
        margin-left: 18vw;
        margin-right: 18vw;
    }
    .key {
        line-height: calc(.055*100vw);
        font-size: 3vw;
        width: 5vw;
        height: calc(.06*100vw);
        border-radius: 3px;
    }
}